@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400&display=swap");
@import "globals.scss";

body {
  font-family: "MuseoModerno";
  color: $color-primary;

  a,
  a:hover,
  a:focus {
    color: inherit;
  }
}
