// @import "bootstrap";
$primary: rgb(60, 56, 187);
//$secondary: #ff00ff;
$success: rgb(113, 183, 57);
$danger: rgb(204, 21, 23);
// $warning: $purple-500;
@import "bootstrap";
/* finally, import Bootstrap */
