$color-primary: rgb(30, 29, 60);
//$color-secondary: rgb(35, 87, 137);
$color-secondary: rgb(104, 104, 104);
$color-success: rgb(113, 183, 57);
$color-warning: rgb(204, 21, 23);
$color-light: rgb(244, 231, 45);

//@import "mixins";

/*
azr rgb(5, 168, 170)
rosa rgb(252, 161, 125)
*/
