@import 'globals.scss';

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-secondary;
}

.warning {
  color: $color-warning;
}

.success {
  color: $color-success;
}

.light {
  color: $color-light;
}

.hideScrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}
